<h1>MessageMeNow</h1>
<p>Welcome to MessageMeNow</br>Please enter a message and a phone number</p>

<%= form_tag("/sms/send", method: "post") do %>
<%= label_tag(:q, "Your Message:") %>
  <%= text_field_tag(:q) %>
<%= label_tag(:q, "Phone Number (xxx) xxx-xxxx:") %> 
 <%= telephone_field(:q,:phone) %>
  <%= submit_tag("Send Away") %>
<% end %>
